import { Component } from '@angular/core';

@Component({
  selector: 'wiz-<%= name %>-unauthorized',
  standalone: true,
  imports: [],
  templateUrl: './unauthorized.html'
})
export class UnauthorizedComponent {

}
