{
  "recommendations": [
    "angular.ng-template",
    "eamodio.gitlens",
    "dbaeumer.vscode-eslint",
    "esbenp.prettier-vscode",
    "editorconfig.editorconfig",
    "aaron-bond.better-comments"
  ]
}


